<%- include('../include/source'); -%>

<html>
    <head>
    <title>User Premium</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="/dashboard.js"></script>
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    </head>
    <body>

<div class="wrapper">
    <%- include('../include/sidemenu'); -%>

    <!-- Settings -->
    <%- include('../include/header'); -%>

    <!-- Settings -->
  <section class="content">
    <div class="overview-all">
      <div class="modal fade" id="pay" tabindex="-1" role="dialog" aria-labelledby="payTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">buying Premium</h5>
                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </a>
              </div>
              <div class="modal-body">
                <center>
                  <button onclick="location.href='/pay'" class="btn-no-bg" style="margin: 5px;"><i class="fa-brands fa-paypal"></i>&nbsp; Paypal</button>
                </center>
              </div>
            </div>
          </div>
        </div>

      <div style="display: flex; justify-content: space-between;">
        <h1>Premium Subscriptions</h1>
        <button class="btn" data-toggle="modal" data-target="#pay"><i class="fa-solid fa-plus"></i>&nbsp; buying Custom Bot</button>
      </div>
      
      <hr style="width: 90%; margin: 20px auto;">
        <% if(guildPremium.length == 0) {
          if(premium) {
            premium.forEach(bot => {
            if(bot.guildId) return; %>
              <form method="POST">
                <div class="top-100">
                  <div class="top-user-info">
                      <img width="100" src="<%= bot.avatar %>" width="64px" height="64px" alt="<%= bot.username %> Avatar image" class="top-username-avatar">
                      <h5 class="top-username"><%= bot.username %></h5>
                  </div>
                  <div class="top-user-levels-credits">
                      <div class="top-hover-credits">
                          <p style="display: flex; align-items: center; justify-content: space-evenly; align-content: center; flex-direction: row;">
                            <button class="btn" name="use" value="<%= bot._id %>" type="sumbit">Use</button>
                          </p>
                      </div>
                  </div>
                </div>
              </form>
          <% })
        }
      } else {
            const timeout = Date.now() - guildPremium[0].date %>
            <div class="row row-cols-4">
              <div class="col my-1 card stacked mt-5" style=" background-color: var(--gray-4); border: 1px solid var(--gray-2); max-width: 300px !important; margin: 10px;">
                <div class="">
                  <div class="card-header pt-0 pb-2" style=" border-bottom-color: var(--gray-2); ">
                    <center>
                      <img src="<%= guildPremium[0].avatar %>" class="rounded-circle card-price rounded-3" width="98px">
                      <h4 class="text-white mt-3"><%= guildPremium[0].username %></h4>
                      <p class="text-white mb-0 fw-normal fs-6">Ends at <span></span></p>
                    </center>
                  </div>
                  <div class="card-body" style=" display: flex; justify-content: center; align-items: center;">
                    <button type="button" role="button" data-toggle="modal" data-target="#<%= guildPremium[0]._id %>" class="btn"><i class="fa-solid fa-pen-to-square"></i>&nbsp; Edit</button>
                    <button onclick="location.href='https://discord.com/api/oauth2/authorize?client_id=<%= guildPremium[0]._id %>&permissions=536836762879&scope=applications.commands%20bot&guild_id=<%= guildPremium[0].guildId %>'" class="btn-no-bg" style="margin: 5px;"><i class="fa-solid fa-plus"></i>&nbsp;Invite</button>
                  </div>
                </div> 
                
                <form method="POST">
                  <div class="modal fade" id="<%= guildPremium[0]._id %>" tabindex="-1" role="dialog" aria-labelledby="<%= guildPremium[0]._id %>Title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="<%= guildPremium[0]._id %>LongTitle">Edit Premium Bot</h5>
                          <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </a>
                        </div>
                        <div class="modal-body">
                          <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                            <div style="margin: 10px;">
                              <img src="<%= guildPremium[0].avatar %>" class="rounded-circle premium-edit-img rounded-3" width="98px">
                            </div>
                            <div style="margin: 10px; width: 100%;">
                              <div>
                                <h6 style="font-size: 15px; color: #c0c7cd; margin-left: 10px;">Username</h6>
                                <input class="input" placeholder="Your Bot Name" name="<%= guildPremium[0]._id %>Name" value="<%= guildPremium[0].username %>"></input>
                              </div>
                            </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                          <a type="button" class="btn" data-dismiss="modal">Close</a>
                          <button type="submit" class="btn">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
      <% } %>
      
      
    </div>
  </section>     
        <!-- Welcome -->
</div>
<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})

document.getElementById("premium").classList.add('btn-sidebar-active');

document.getElementById("premium").classList.remove('btn-sidebar');


</script>

    </body>
</html>


