<link rel="stylesheet" href="/css/index.css">
      <button id="menu">
        <span></span>
        <span></span>
        <span></span>
      </button>

<style>

  
</style>
   <% const realUser = bot.users.cache.get(user.id) || user ; %>
    <div class="menu-side" id="menu-side">
        <nav class="navbar-side" id="mySidenav">
        <div class="guild" style="--bg: url(https://cdn.discordapp.com/avatars/<%=realUser.id%>/<%=realUser.avatar%>.png);">
            <center class="mt-4">
					<h3 class="mb-0">
						<div class="avatar avatar-xl">
							<img oncontextmenu="return false" draggable="false" width="82px" class="profile-img" data-position="right" src="https://cdn.discordapp.com/avatars/<%=realUser.id%>/<%=realUser.avatar%>.png">
						</div>
						</h3><h4 class="mb-0 mt-2"><%= realUser.username %></h4>
			</center>
            <hr>
            </div>
            
            <p class="sidebar-cetegory"><i class="bi bi-house-fill" style="margin-right: 5px;"></i> General</p>
            <ul>
              <li><a id="overview" class="linetext btn-sidebar" href="/dashboard"><div><i class="fa-solid fa-hashtag"></i>Get Started</div></a></li>
              <li ><a id="premium" class="linetext btn-sidebar" href="/dashboard/premium"><div><i class="fa-solid fa-crown"></i>&nbsp; Premium</div></a></li>
            </ul>

            <p class="sidebar-cetegory"><i class="bi bi-archive-fill" style="margin-right: 5px;"></i>Other</p>
            <ul>
              <li><a class="outtext btn-sidebar" href="/logout"><div><i class="bi bi-box-arrow-right" style="font-size: 17px"></i>&nbsp; Logout</div></a></li>
            </ul>
        </ul>
    </nav>
<nav class="sidebar-servers">
    <div class="fluid">
        <div class="sidebar-item-profile" id="<%= realUser.id %>">
            <a class="" href="/dashboard">
                <img src="https://cdn.discordapp.com/avatars/<%=realUser.id%>/<%=realUser.avatar%>.png" class="sidebar-img-activate"
                    oncontextmenu="return false" draggable="false" width="50px" height="50px"
                    alt="" style="border-radius: 15px;" data-bs-toggle="tooltip" data-bs-placement="right" title="Profile">
            </a>
        </div>
       <hr style="width: 75%; margin: 10px auto;">
        <% if(user && user.id) { %>
            <ul class="">
                <% user.guilds.filter(guild=>{
                    const permsOnGuild = new Permissions(guild.permissions_new);
                    if(permsOnGuild.has(Permissions.Flags.ManageGuild)) return guild;
                    }).sort((a, b) => {
                    return (bot.guilds.cache.get(a.id) == bot.guilds.cache.get(b.id)) ? 0 : a ? -1 : 1;
                    }).forEach(guild => {
                    let gavatar = `https://ui-avatars.com/api/?background=18161e&uppercase=false&color=dbdcdd&size=128&font-size=0.33&name=${guild.name}`;
                    if(guild.icon) gavatar = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}`;
                    %>
                    <li class="sidebar-item">
                        <a class="" href="/dashboard/<%= `${guild.id}`%>">
                          <img src="<%= `${gavatar}` %>" class="sidebar-img"
                          oncontextmenu="return false" draggable="false" width="50px" height="50px"
                          alt="<%= guild.name %>" style="border-radius: 15px;" data-bs-toggle="tooltip" data-bs-placement="right" title="<%= guild.name %>">
                        </a>
                    </li>
                    <% }) %>
                        <% } %>
    </div>



    </ul>
    </div>
</nav>
    </div>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })

    const menu = document.getElementById("menu")
    const menuSide = document.getElementById("menu-side")

    menu.addEventListener("click", () => {
        menu.classList.toggle("is-active")
        menuSide.classList.toggle("is-active")
    })
</script>