<%- include('../include/source'); -%>

<html>
    <head>
    <title><%= guild.name %> - Trust Members</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="/dashboard.js"></script>
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    </head>
    <body>

<div class="wrapper">
    <%- include('../include/sidemenu'); -%>

    <!-- Settings -->
    <%- include('../include/header'); -%>

    <!-- Settings -->
  <section class="content">
    <div class="overview-all">
      <h1>Trust Members</h1>
      <h6 style="color: #c0c7cd;">( Only haves Administrator )</h6>
      <hr style="width: 90%; margin: 20px auto;">
        <form method="POST">
        
        <% guild.members.cache.forEach(member => { 
        let user = guild.members.cache.get(member.id)
        if(user.user.bot) return;
        if(owner == user.user.id) return;
        if(!user.permissions.has(Permissions.Flags.Administrator)) return; %>
          <div class="top-100">
            <div class="top-user-info">
                <img width="100" src="<%= user.user.displayAvatarURL() %>" width="64px" height="64px" alt="<%= user.user.username %> Avatar image" class="top-username-avatar">
                <h5 class="top-username"><%= user.user.username %></h5>
            </div>
            <div class="top-user-levels-credits">
                <div class="top-hover-credits">
                    <p style="display: flex; align-items: center; justify-content: space-evenly; align-content: center; flex-direction: row;">
                      <% if(trust.includes(user.user.id)) { %>
                        <button class="btn-danger" name="remove" value="<%= user.user.id %>" type="sumbit">Remove</button>
                      <% } else { %>
                        <button class="btn" name="trust" value="<%= user.user.id %>" type="sumbit">Add</button>
                      <% } %>
                    </p>
                </div>
            </div>
          </div>
        <% }) %>
          
        
    </div>
  </section>     
        <!-- Welcome -->
</div>
<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})

document.getElementById("members").classList.add('btn-sidebar-active');

document.getElementById("members").classList.remove('btn-sidebar');


</script>

    </body>
</html>


